name: Platform Releases
on:
  push:
    branches:
      - master
      - ci
      - 'releases/**'
  pull_request:
    branches:
      - master
      - ci
      - 'releases/**'
jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/upload-artifact@v2
        with:
          name: version
          path: version.yml
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: beta
      - run: flutter config --enable-windows-desktop
      - run: flutter doctor -v
      - run: flutter build windows
      - uses: papeloto/action-zip@v1
        with:
          files: build/windows/runner/Release
          dest: Fluffyboard-windows.zip
      - uses: actions/upload-artifact@v2
        with:
          name: Fluffyboard-windows
          path: Fluffyboard-windows.zip
  linux:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get update -y
      - run: sudo apt-get install -y ninja-build libgtk-3-dev libblkid-dev
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: dev
      - run: flutter config --enable-linux-desktop
      - run: flutter doctor -v
      - run: flutter pub get
      - run: flutter build linux
      - uses: papeloto/action-zip@v1
        with:
          files: build/linux/x64/release/bundle
          dest: Fluffyboard-linux.zip
      - uses: actions/upload-artifact@v2
        with:
          name: Fluffyboard-linux
          path: Fluffyboard-linux.zip
  web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
      - run: flutter config --enable-web
      - run: flutter doctor -v
      - run: flutter pub get
      - run: flutter build web
      - uses: papeloto/action-zip@v1
        with:
          files: build/web
          dest: Fluffyboard-web.zip
      - uses: actions/upload-artifact@v2
        with:
          name: Fluffyboard-web
          path: Fluffyboard-web.zip
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
      - run: flutter doctor -v
      - run: flutter pub get
      - run: flutter build apk
      - uses: actions/upload-artifact@v2
        with:
          name: Fluffyboard-android
          path: build/app/outputs/apk/release/app-release.apk
  mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - uses: subosito/flutter-action@v1
      - run: flutter config --enable-macos-desktop
      - run: flutter doctor -v
      - run: flutter pub get
      - run: flutter build macos --release
      - uses: papeloto/action-zip@v1
        with:
          files: build/macos/Release/Product
          dest: Fluffyboard-mac.zip
      - uses: actions/upload-artifact@v2
        with:
          name: Fluffyboard-mac
          path: Fluffyboard-mac.zip

  ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Install Apple Certificate
        uses: apple-actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.IOS_DISTRIBUTION_P12 }}
          p12-password: ${{ secrets.IOS_DISTRIBUTION_P12_PASSWORD }}
      - name: Install the provisioning profile
        env:
          PROVISIONING_CERTIFICATE_BASE64: ${{ secrets.IOS_DISTRIBUTION_PROVISIONING_PROFILE }}
        run: |
          PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision

          echo -n "$PROVISIONING_CERTIFICATE_BASE64" | base64 --decode --output $PP_PATH

          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles
      - name: Install and set Flutter version
        uses: subosito/flutter-action@v1
      - name: Restore packages
        run: flutter pub get
      - name: Build Flutter
        run: flutter build ios --release --no-codesign
      - run: |
          ls ios/
          cat ios/Podfile
      - name: Build resolve Swift dependencies
        run: xcodebuild -resolvePackageDependencies -workspace ios/Runner.xcworkspace -scheme Runner -configuration Release
      - name: Build xArchive
        run: |
          xcodebuild -workspace ios/Runner.xcworkspace -scheme Runner -configuration Release DEVELOPMENT_TEAM=Y26953UNR3 -sdk 'iphoneos' -destination 'generic/platform=iOS' -archivePath build-output/app.xcarchive PROVISIONING_PROFILE=b3e19150-67f0-45cb-a9cc-79cd874dce5e clean archive CODE_SIGN_IDENTITY="iPhone Distribution: Andre Schle (Y26953UNR3)"
      - name: Export ipa
        run: xcodebuild -exportArchive -archivePath build-output/app.xcarchive -exportPath build-output/ios -exportOptionsPlist ios/ExportOptions.plist
      - uses: papeloto/action-zip@v1
        with:
          files: build-output/ios
          dest: Fluffyboard-ios.zip
      - name: Publish iOS Artefacts
        uses: actions/upload-artifact@v1
        with:
          name: release-ios
          path: Fluffyboard-ios.zip
      - name: Get the Api Key
        env:
          IOS_API_KEY: ${{ secrets.IOS_API_KEY }}
        run: |
          echo -n "$IOS_API_KEY" | base64 --decode --output fastlane/api-key.p8
      - name: Upload with Fastlane
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7.2'
      - name: Deployment with Fastlane
        run: |
          bundle install
          bundle exec fastlane update_plugins
          bundle exec fastlane ios beta






  release:
    runs-on: ubuntu-latest
    needs: [version, windows, linux, web, mac, ios]
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: version
          path: version
      - uses: actions/download-artifact@v2
        with:
          name: Fluffyboard-windows
          path: windows/Fluffyboard-windows.zip
      - uses: actions/download-artifact@v2
        with:
          name: Fluffyboard-linux
          path: linux/Fluffyboard-linux.zip
      - uses: actions/download-artifact@v2
        with:
          name: Fluffyboard-web
          path: web/Fluffyboard-web.zip
#      - uses: actions/download-artifact@v2
#        with:
#          name: Fluffyboard-android
#          path: android/Fluffyboard-android.apk
      - uses: actions/download-artifact@v2
        with:
          name: Fluffyboard-mac
          path: mac/Fluffyboard-mac.zip
      - uses: actions/download-artifact@v2
        with:
          name: release-ios
          path: ios/Fluffyboard-ios.zip
      - run: |
          chmod 755 mac/Fluffyboard-mac.zip
      - run: |
          ls version/
          version_number=$(cat version/version.yml | sed 's/\(---\|major: \|minor: \|patch: \|\)//g' | sed -z 's/\n/./g;s/,$/\n/' | sed 's/^\.//g')
          echo "${version_number}"
          echo "version_number=${version_number}" >> $GITHUB_ENV
          echo "${{ env.version_number }}"
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ env.version_number }}"
          title: "Release ${{ env.version_number }}"
          files: |
            windows/Fluffyboard-windows.zip
            linux/Fluffyboard-linux.zip
            web/Fluffyboard-web.zip
            mac/Fluffyboard-mac.zip
            ios/Fluffyboard-ios.zip
